stages:
  - build
  - upload
  - release

workflow:
  rules:
    # Exécute le pipeline seulement si un tag est créé
    - if: $CI_COMMIT_TAG

variables:
  PACKAGE_NAME: ymd
  PACKAGE_VERSION: $CI_COMMIT_TAG
  PACKAGE_FILE_NAME: $PACKAGE_NAME-$PACKAGE_VERSION.tar.gz
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}"

# Construit le paquet Python
build:
  stage: build
  image:
    name: ghcr.io/astral-sh/uv:python3.14-alpine
    entrypoint: [""]
  script:
    - uv build
  artifacts:
    paths:
      - dist/

# Téléverse le paquet vers le registre de paquets GitLab
# Documentation : https://docs.gitlab.com/ee/user/packages/generic_packages/index.html#publish-a-package-file
upload_package:
  stage: upload
  image: curlimages/curl:latest
  script: >
    curl
    --fail-with-body
    --header "JOB-TOKEN: $CI_JOB_TOKEN"
    --upload-file "dist/${PACKAGE_FILE_NAME}"
    "${PACKAGE_REGISTRY_URL}/${PACKAGE_FILE_NAME}"

# Crée une release GitLab contenant le paquet
# Documentation : https://docs.gitlab.com/user/project/releases/release_cli/
release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  script:
    - echo "Creating release $CI_COMMIT_TAG"
  release:
    tag_name: $CI_COMMIT_TAG
    description: $CI_COMMIT_MESSAGE
    assets:
      links:
        - name: $PACKAGE_FILE_NAME
          url: "${PACKAGE_REGISTRY_URL}/${PACKAGE_FILE_NAME}"
